* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .flex-child {
    min-width: 90px;
} */

/* .flex-grow {
    flex-grow: 4;
} */

/* .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
} */

/* .color_red {
    color: red;
} */



header {
    border: 0px solid;    /* sans le solid, rien ne s'affiche, à ne pas oublier ici ou ailleurs où j'en ai besoin */
    margin: 0px;
    border-bottom: 2px solid black;
    background-color: rgb(173, 173, 173);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    z-index: 4;
    position: fixed;
    justify-content: space-around;
    gap: 10%;
    box-sizing: border-box;     /* ça me permet d'avoir la div qui complète la page */
    height: 15rem;
    width: 100%;
}

header ~ .top { /*ici ça me permet d'avoir le top que je dois mettre après le header partout à ceux qui sont top*/
    top : 15rem;
}

.main div {
    max-width: 800px;
    margin: auto;
}

.logo {
    display: flex;
    padding: 1rem;
    border: 1px solid;
    height: 100%;
    width: 13rem;
    flex-direction: column;
    justify-content: center;
    background-image: url("photo_profil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;

}

.titrePrincipal {
    display: flex;
    border: 1px solid;
    padding: 1rem;
    align-self: center;
    flex-direction: column;
    justify-content: center;
}

nav {
    border: 1px solid;
    padding: 1rem;
    align-self: center;
    box-sizing: border-box;
    background-color: beige;
    align-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 5px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
    box-sizing: border-box;
    background-color: beige;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: beige;
    
}

nav a:hover {
    /* border-radius: 10px;
    background-color: aqua; */
    opacity: 0.5;
    filter: alpha(opacity=50);          /* Merci MDN pour cet exemple */
    zoom: 1;
}

html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    position: relative;

    margin-bottom: 0;
    z-index: 1;
}

.main {
    border: 0px solid;
    background-color: grey;
    margin: 0%;
    padding: 1rem;
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    height: 4000px;
    z-index: 3;

}

.photo {
    width: 35%;
    opacity: 0%;
}

main div {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    border: red 3px solid;
}

body {
    background-image: url("background_tokyo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.Presentation {
    top: 16rem;
    width: 90%;
    height: auto;
    background-color: rgb(229, 229, 121);
    border: none;
    
}

/* .Banderole {
    display: flex;
    flex-direction: row;
    position: fixed;
    border: solid 0;
    padding: 0;
    background-color: lightsalmon;
    width: 100%;
    z-index: 2;
    top: 25%;
    height: 20%;
    gap: 50%;
} */

div {
    border: 2px solid;
    margin: 0px;
    background-color: beige;

    
    
}

/* .divFooter {
    width: 50%;
} */

footer {
    border: 0px solid;
    /* background-color: brown; */
    margin-top: 0;
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    flex-direction: row;
    gap: 0;
    justify-content: center;
    clear: both;
}

footer div {
    width: 100%;
    display: flex;
    flex-wrap: wrap column;
    padding: 1rem;
    vertical-align: middle;
    justify-content: center;
}

/* .flex-shrink-1 {
    flex-shrink: 1;
}

.flex-shrink-2 {
    flex-shrink: 2;
}

.flex-shrink-3 {
    flex-shrink: 3;
} */